<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="fragments/base :: headerfiles(#{admin.utenti.titolo})"></head>

    <body th:replace="fragments/base :: body(~{::main})">

        <main class="container-fluid px-lg-5 py-3 bg-light">
            <!-- Tabella Elenco utenti -->
            <section class="container px-lg-5">
                <div class="d-flex mb-2">
                    <h2 th:text="#{admin.utenti.titolo}"></h2>
                    <div class="ms-auto">
                        <a class="btn btn-primary" th:href="@{/admin/utenti/new}">
                            <span th:text="#{admin.utenti.aggiungi}"></span>
                        </a>
                    </div>
                </div>

                <table class="table table-striped table-sm text-center">
                    <thead>
                        <tr class="table-dark">
                            <th scope="col" th:text="#{admin.utenti.nome}"></th>
                            <th scope="col" th:text="#{admin.utenti.cognome}"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="utente : ${utenti}" class="align-middle">
                            <td th:text="${utente.nome}"></td>
                            <td th:text="${utente.cognome}"></td>
                            <td>
                                <a class="btn btn-primary" th:href="@{'/admin/utenti/' + ${utente.id}}">
                                    <span th:text="#{admin.utenti.gestione}"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>

    </body>

</html>